advertisement-service/src/main/java/com/example/adservice/soap/shemas/codebook.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="xws_tim2" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="codebookDTO">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="codeType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

